
.home{
    width: 90%;
    background: var(--grey);
}

.home h1{
    font-size: 40px;
}

.home .card{
    font-weight: 500;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    padding-bottom: 10px;
    text-align: justify-all;
    height: 100%;
}